---
layout: default
title: Home
---

<!-- 只在首頁顯示 featured 區塊 -->
{% if page.url == "/" %}

<!-- Featured 區塊
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>
    <div class="row">
        {% assign featured_posts = site.posts | where: "featured", true %}
        {% for post in featured_posts %}
            {% include featuredbox.html %}
        {% endfor %}
    </div>
</section>

{% endif %}

<!-- All Stories 區塊
================================================== -->
<section class="recent-posts">
    <div class="section-title">
        <h2><span>All Stories</span></h2>
    </div>
    <div class="row listrecent">
        {% assign featured_posts = site.posts | where: "featured", true %}
        {% for post in paginator.posts %}
            {% unless featured_posts contains post %}
                {% include postbox.html %}
            {% endunless %}
        {% endfor %}
    </div>
</section>

<!-- Pagination 區塊
================================================== -->
<div class="bottompagination">
  <div class="pointerup"><i class="fa fa-caret-up"></i></div>
  <span class="navigation" role="navigation">
      {% include pagination.html %}
  </span>
</div>
